.highscores {
    text-align: left;
}

.timer {
    text-align: right;
    margin-left: 75%;
}

.intro {
    text-align: center;
    padding-left: 230px;
    padding-right: 230px;
    font-size: 4vh;
    padding-top: 25px;
}

.questions {
    text-align: center;
    font-size: 40px;
}

body {
    font-size: 4vh;
}

.start {
    margin-left: 45%;
}

input {
    background-color: purple;
    color: white;
    font-size: 75%;
}